<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MATERIA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

 
    <ion-card>
      <ion-card-header>
        <ion-card-title>DESARROLLO DE APLICACIONES MOVILES II</ion-card-title>
        <ion-card-subtitle>Mtro. Ambrosio Cardoso Jimenez</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Desarrollo de aplicaciones para dispositivos móviles II aporta al perfil del egresado los conocimientos y habilidades  para el desarrollo de aplicaciones móviles híbridas. Tiene especial relevancia en implementar "Clean Code", para generar aplicaciones móviles, cuyo código sea más fácil de leer, mantener, extender y sea lo menos propenso a errores. En esta materia se revisan las mejores prácticas de programación para el desarrollo de aplicaciones móviles de una forma organizada.      
      </ion-card-content>
    </ion-card>

</ion-content>
